/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/ext_power.h>
#include <dt-bindings/zmk/outputs.h>
#include <dt-bindings/zmk/rgb.h>

#define _34KQWE 0
#define _QWERTY 1
#define _CLMKdh 2
#define _NAVNUM 3
#define _USFUNC 4
#define _BTOOTH 5
#define _GAMING 6
#define _SCZerg 7

/ {
    behaviors {
        td_cl_home: td_ctrl_left_home {
              compatible = "zmk,behavior-tap-dance";
              label = "TD_CTRL_LEFT_HOME";
              #binding-cells = <0>;
              tapping-term-ms = <200>;
              bindings = <&kp LC(LEFT)>, <&kp HOME>;
        };


        td_cr_end: td_ctrl_right_end {
              compatible = "zmk,behavior-tap-dance";
              label = "TD_CTRL_RIGHT_END";
              #binding-cells = <0>;
              tapping-term-ms = <200>;
              bindings = <&kp LC(RIGHT)>, <&kp END>;
        };
       
        td_esc_mtsk: td_esc_multitasker {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_ESC_MULTITASKER";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp ESC>, <&kp LC(LA(TAB))>;
        };

        td_q_esc: td_q_esc {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_Q_ESC";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp Q>, <&kp ESC>;
        };

        td_a_tab: td_a_tab {
            compatible = "zmk,behavior-tap-dance";
            label = "TD_A_TAB";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp A>, <&kp TAB>;
        };       

        td_pp_nxt_prv: td_play_pause_next_prev {
             compatible = "zmk,behavior-tap-dance";
             label = "TD_PLAY_PAUSE_NEXT_PREV";
             #binding-cells = <0>;
             tapping-term-ms = <200>;
             bindings = <&kp C_PP>, <&kp C_NEXT>, <&kp C_PREV>;
        };

        td_em_bt: td_email_string_bt_toggle {
             compatible = "zmk,behavior-tap-dance";
             label = "TD_EMAIL_STRING_BT_TOGGLE";  
             #binding-cells = <0>;
             tapping-term-ms = <200>;
             bindings = <&none>, <&em_str>, <&mo _BTOOTH>;
        };
        
        dt_gm_tog: dt_gaming_toggle {
             compatible = "zmk,behavior-tap-dance";
             label = "DOUBLE_TAP_GAMING_TOGGLE";  
             #binding-cells = <0>;
             tapping-term-ms = <200>;
             bindings = <&none>, <&tog _GAMING>;
        };

        mm_btb_l: mm_brace_to_bracket_left {        
            compatible = "zmk,behavior-mod-morph";
            label = "MM_BRACE_TO_BRACKET_LEFT";
            #binding-cells = <0>;
            bindings = <&kp LBRC>, <&kp LBKT>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        mm_btb_r: mm_brace_to_bracket_right {        
            compatible = "zmk,behavior-mod-morph";
            label = "MM_BRACE_TO_BRACKET_RIGHT";
            #binding-cells = <0>;
            bindings = <&kp RBRC>, <&kp RBKT>;
            mods = <(MOD_LSFT|MOD_RSFT)>; 
        };
    };

    macros {
        rgb_ug_status_macro: rgb_ug_status_macro_0 {
            label = "RGB_UG_STATUS";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&rgb_ug RGB_STATUS>;
        };

        bt_0: bt_profile_macro_0 {
            label = "BT_0";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 0>;
        };

        bt_1: bt_profile_macro_1 {
            label = "BT_1";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 1>;
        };

        bt_2: bt_profile_macro_2 {
            label = "BT_2";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 2>;
        };

        bt_3: bt_profile_macro_3 {
            label = "BT_3";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&out OUT_BLE>,
                  <&bt BT_SEL 3>;
        };

        bt_str: bluetooth_string {
            compatible = "zmk,behavior-macro";
            label = "BLUETOOTH_STRING";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <5>;
            bindings = <&kp B &kp L &kp U &kp E &kp T &kp O &kp O &kp T &kp H >;
        };       
        
        gm_str: gaming_string {
            compatible = "zmk,behavior-macro";
            label = "GAMING_STRING";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <5>;
            bindings = <&kp G &kp A &kp M &kp I &kp N &kp G>;
        };  

        em_str: email_string {
            compatible = "zmk,behavior-macro";
            label = "EMAIL_STRING";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <5>;
            bindings = <&kp M &kp B &kp I &kp S &kp S &kp O &kp N &kp N &kp AT &kp G &kp M &kp A &kp I &kp L &kp DOT &kp C &kp O &kp M >;
        };

        to_34: to_34kqwe {
            compatible = "zmk,behavior-macro";
            label = "TO_34KQWE";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <5>;
            bindings = <&to _34KQWE &rgb_ug RGB_OFF>;
        };       

        to_gm: to_gaming {
            compatible = "zmk,behavior-macro";
            label = "TO_GAMING";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <5>;
            bindings = <&to _GAMING &rgb_ug RGB_ON &rgb_ug RGB_COLOR_HSB(360,360,360)>;
        }; 

        to_scz: to_sczerg {
            compatible = "zmk,behavior-macro";
            label = "TO_SCZERG";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <5>;
            bindings = <&to _SCZerg &rgb_ug RGB_ON &rgb_ug RGB_COLOR_HSB(360,360,360)>;
        }; 
        
              
    };

    keymap {
        compatible = "zmk,keymap";
      
        _34KQWE {
            bindings = <
            &td_em_bt  &none        &none  &none  &none                                                                                                   &none     &none      &none      &none            &none
            &to_gm     &none        &none  &none  &none  &none                                                                                    &none   &none     &none      &none      &none            &none
            &to_scz    &td_q_esc    &kp W  &kp E  &kp R  &kp T                                                                                    &kp Y   &kp U     &kp I      &kp O      &kp P            &none
            &none      &td_a_tab    &kp S  &kp D  &kp F  &kp G                                                                                    &kp H   &kp J     &kp K      &kp L      &kp SQT          &none
            &none      &mt LSHFT Z  &kp X  &kp C  &kp V  &kp B  &none              &none          &none  &none  &none          &none              &kp N   &kp M     &kp COMMA  &kp DOT    &mt RSHFT SLASH  &none
            &kp LGUI   &kp LCTRL    &none  &none  &none         &lt _NAVNUM ENTER  &mt LCTRL DEL  &none  &none  &mt RALT BSPC  &lt _NAVNUM SPACE          &none      &none     &none      &kp RCTRL        &kp RGUI
            >;
        };

        _QWERTY {
            bindings = <
            &td_em_bt     &kp F1    &kp F2    &kp F3  &kp F4                                                                                                     &kp F5    &kp F6     &kp F7     &kp F8    &kp F9
            &kp GRAVE     &kp N1    &kp N2    &kp N3  &kp N4    &kp N5                                                                                   &kp N6  &kp N7    &kp N8     &kp N9     &kp N0    &kp EQUAL
            &td_esc_mtsk  &kp Q     &kp W     &kp E   &kp R     &kp T                                                                                    &kp Y   &kp U     &kp I      &kp O      &kp P     &kp MINUS
            &kp TAB       &kp A     &kp S     &kp D   &kp F     &kp G                                                                                    &kp H   &kp J     &kp K      &kp L      &kp SQT   &kp BSLH
            &kp LSHFT     &kp Z     &kp X     &kp C   &kp V     &kp B  &kp SPACE          &kp DEL    &kp LGUI   &kp RGUI   &kp BSPC   &kp ENTER          &kp N   &kp M     &kp COMMA  &kp DOT    &kp FSLH  &kp LSHFT
            &kp PAGE_UP   &kp HOME  &kp LEFT  &kp UP  &kp LBKT         &lt _NAVNUM ENTER  &kp LCTRL  &kp LALT   &kp RCTRL  &kp RALT   &lt _NAVNUM SPACE          &kp RBKT  &kp DOWN   &kp RIGHT  &kp END   &kp PG_DN
            >;
        };

        _CLMKdh {
            bindings = <    
            &td_em_bt     &kp F1    &kp F2    &kp F3  &kp F4                                                                                                      &kp F5    &kp F6     &kp F7     &kp F8    &kp F9
            &kp GRAVE     &kp N1    &kp N2    &kp N3  &kp N4    &kp N5                                                                                    &kp N6  &kp N7    &kp N8     &kp N9     &kp N0    &kp EQUAL
            &td_esc_mtsk  &kp Q     &kp W     &kp F   &kp P     &kp B                                                                                     &kp J   &kp L     &kp U      &kp Y      &kp SQT   &kp MINUS
            &kp TAB       &kp A     &kp R     &kp S   &kp T     &kp G                                                                                     &kp M   &kp N     &kp E      &kp I      &kp O     &kp BSLH
            &kp LSHFT     &kp Z     &kp X     &kp C   &kp D     &kp V  &kp SPACE          &kp DEL    &kp LGUI   &kp RGUI  &kp BSPC     &kp ENTER          &kp K   &kp H     &kp COMMA  &kp DOT    &kp FSLH  &kp LSHFT
            &kp PAGE_UP   &kp HOME  &kp LEFT  &kp UP  &kp LBKT         &lt _NAVNUM ENTER  &kp LCTRL  &kp LALT   &kp RALT  &mt RALT N0  &lt _NAVNUM SPACE          &kp RBKT  &kp DOWN   &kp RIGHT  &kp END   &kp PG_DN
            >;
        };

        _NAVNUM {
            bindings = <
            &none     &none            &none        &none      &none                                                                                                          &none   &none   &none   &none            &tog _QWERTY
            &none     &none            &none        &none      &none       &none                                                                                   &none      &none   &none   &none   &none            &none
            &none     &td_esc_mtsk     &td_cl_home  &kp UP     &td_cr_end  &kp LPAR                                                                                &kp RPAR   &kp N7  &kp N8  &kp N9  &kp LC(DEL)      &none
            &none     &kp TAB          &kp LEFT     &kp DOWN   &kp RIGHT   &mm_btb_l                                                                               &mm_btb_r  &kp N4  &kp N5  &kp N6  &kp SEMI         &none
            &none     &mt LSHFT SPACE  &kp UNDER    &kp COLON  &kp MINUS   &kp EQUAL  &trans             &trans  &trans  &trans  &trans         &trans             &kp PIPE   &kp N1  &kp N2  &kp N3  &mt LSHIFT BSLH  &none
            &kp LGUI  &kp LCTRL        &none        &none      &none                  &lt _USFUNC ENTER  &trans  &trans  &trans  &mt RGUI BSPC  &lt _USFUNC SPACE             &kp N0  &none   &none   &kp RCTRL        &kp RGUI
            >; 
        };

        _USFUNC {
            bindings = <
            &none     &none      &none      &none      &none                                                                                       &none         &none         &none           &none      &tog _CLMKdh
            &none     &none      &none      &none      &none         &none                                                             &none       &none         &none         &none           &none      &none
            &none     &kp CAPS   &kp GRAVE  &kp TILDE  &kp C_BRI_DN  &kp C_BRI_AUTO                                                    &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &td_pp_nxt_prv  &td_em_bt  &none
            &none     &kp EXCL   &kp AT     &kp HASH   &kp DLLR      &kp PRCNT                                                         &kp CARET   &kp AMPS      &kp ASTRK     &kp MINUS       &kp PLUS   &none
            &none     &kp F1     &kp F2     &kp F3     &kp F4        &kp F5          &trans  &trans   &trans  &trans  &trans   &trans  &kp F6      &kp F7        &kp F8        &kp F9          &kp F10    &none
            &kp LGUI  &kp LCTRL  &none      &none      &none                         &none   &kp F11  &trans  &trans  &kp F12  &none               &none         &none         &none           &kp RCTRL  &kp RGUI
            >;
        };  

        _BTOOTH {
            bindings = <        
            &none  &bt_0  &bt_1  &bt_2  &bt_3                                                                               &none  &none  &none  &none  &none       
            &none  &none  &none  &none  &none  &none                                                                 &none  &none  &none  &none  &none  &none
            &none  &none  &none  &none  &none  &none                                                                 &none  &none  &none  &none  &none  &none
            &none  &none  &none  &none  &none  &none                                                                 &none  &none  &none  &none  &none  &none
            &none  &none  &none  &none  &none  &none  &bt_str       &bt BT_CLR      &bootloader &none  &none  &none  &none  &none  &none  &none  &none  &none
            &none  &none  &none  &none  &none         &out OUT_USB  &bt BT_CLR_ALL  &sys_reset  &none  &none  &none         &none  &none  &none  &none  &none       
            >;
        };


        _GAMING {
            bindings = <
            &to_34     &kp F8   &kp F7    &kp F6  &kp F5                                                                                           &kp F5    &kp F6     &kp F7     &kp F8    &to _SCZerg
            &kp GRAVE  &kp F4   &kp F3    &kp F2  &kp F1  &kp F9                                                                           &kp N6  &kp N7    &kp N8     &kp N9     &kp N0    &rgb_ug RGB_TOG     
            &kp BSLH   &kp Q    &kp W     &kp E   &kp R   &kp T                                                                            &kp Y   &kp U     &kp I      &kp O      &kp P     &kp MINUS
            &kp TAB    &kp A    &kp S     &kp D   &kp F   &kp G                                                                            &kp H   &kp J     &kp K      &kp L      &kp SQT   &kp BSLH
            &kp LSHFT  &kp Z    &kp X     &kp C   &kp V   &kp B   &kp ENTER  &kp BSPC   &kp DEL   &kp RGUI   &kp BSPC   &kp ENTER          &kp N   &kp M     &kp COMMA  &kp DOT    &kp FSLH  &kp LSHFT
            &kp EQUAL  &kp N4   &kp N3    &kp N2  &kp N1          &kp SPACE  &kp LCTRL  &kp LALT  &kp RCTRL  &kp RALT   &lt _NAVNUM SPACE          &kp RBKT  &kp DOWN   &kp RIGHT  &kp END   &kp PG_DN
            >;
        };

        _SCZerg {
            bindings = <
            &to_34     &kp F8   &kp F7    &kp F6  &kp F5                                                                                           &kp F5    &kp F6     &kp F7     &kp F8    &to _34KQWE
            &kp GRAVE  &kp F4   &kp F3    &kp F2  &kp F1  &kp F9                                                                           &kp N6  &kp N7    &kp N8     &kp N9     &kp N0    &rgb_ug RGB_TOG     
            &kp BSLH   &kp Q    &kp W     &kp E   &kp R   &kp T                                                                            &kp Y   &kp U     &kp I      &kp O      &kp P     &kp MINUS
            &kp TAB    &kp A    &kp S     &kp D   &kp F   &kp G                                                                            &kp H   &kp J     &kp K      &kp L      &kp SQT   &kp BSLH
            &kp DEL    &kp Z    &kp X     &kp C   &kp V   &kp B   &kp SPACE  &kp ENTER  &kp DEL   &kp RGUI   &kp ENTER          &kp BSPC   &kp N   &kp M     &kp COMMA  &kp DOT    &kp FSLH  &kp LSHFT
            &kp EQUAL  &kp N4   &kp N3    &kp N2  &kp N1          &kp LCTRL  &kp LSHFT  &kp LALT  &kp RCTRL  &lt _NAVNUM SPACE  &kp RALT           &kp RBKT  &kp DOWN   &kp RIGHT  &kp END   &kp PG_DN
            >;
        };
    };
};
